.header{
    max-width: 1320px;
    height:50PX;
    background-color: white;

}

.header__logo{
    margin-left: 4%;
    line-height: 50px;
}

.main{
    background-color: rgb(236, 236, 236);
    margin-top: 0px;
    height: 640px;
}

.footer-small{
    text-align: center;
}