.attendance-date{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.arrow-left{
    top:24px;
    right: 30px;
    display: inline-block;
    color:blue;
    text-decoration: none;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0px;
    position: relative;
    height: 20px;
    width: 30px;
}

.arrow-left::before{
    content: '';
    width: 7px;
    height: 7px;
    display: block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-135deg);
    position: absolute;
    top: 1px;
    left:3px;
    bottom: 0;
    right: 0;
    margin: auto;
}
.arrow-right{
    top: 24px;
    left: 30px;
    display: inline-block;
    color: blue;
    text-decoration: none;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0px;
    position: relative;
    height: 20px;
    width: 30px;
}
.arrow-right::before{
    content: '';
    width: 7px;
    height: 7px;
    display: block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
}

.attendance__table-inner{
    width: 85%;
    margin: 0 auto;
    border-collapse:collapse;
}

.attendance__row{
    text-align: center;
    height: 70px;
    border-top: 1px solid gray;
}

.attendance__date{
    text-align: center;
    width: 20%;
}
.attendance__label{
    width: 20%;
}



.pagination {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 0 0;
}

.pagination li{
    list-style: none;
}

.disabled span{
    margin: 0 1px;
    color: blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: white;
    font-size: 16px;
}

.active span{
    margin: 0 1px;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: rgb(53, 53, 250);
    font-size: 16px;
}

.pagination a {
    margin: 0 1px;
    color: blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color:white;
    font-size: 16px;
}



.pagination a:hover:not(.active) {
    background-color: #ddd;
}


