.my-page__alert{
    text-align: center;
    padding-top: 30px;
    font-weight: normal;
}

.attendance-btn{
    margin-top: 2%;
    padding-bottom: 5%;
}

.attendance-btn button.click {
    color: rgb(236, 236, 236);
}

.attendance-btn:checked{
    color: blue;
}

.attendance-btn button{
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2.5% 15px 2.5%;
    width: 500px;
    height: 200px;
    cursor: pointer;
}

.work-btn, .break-btn{
    display: flex;
    justify-content: center;
}

.error_alert{
    color: red;
    text-align: center;
    font: 22px;
    font-weight: bold;
}

.message_alert{
    color: blue;
    text-align: center;
    font: 22px;
}